Django
django-filter
djangorestframework
djangorestframework-simplejwt
django-jazzmin
drf-spectacular
drf-spectacular-sidecar
django-rest-swagger
django-cors-headers
django-celery-beat
celery
redis
flower
Pillow
poetry
psycopg2-binary
django-environ
environ
