<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="margin-top:0pt; margin-bottom:0pt;"><strong>Политика конфиденциальности</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;Данная политика конфиденциальности описывает, как мы, ТОО SAF ALASH FOOD (далее &quot;мы&quot; или &quot;наша компания&quot;), собираем, используем и раскрываем информацию о пользователях (далее &quot;вы&quot; или &quot;пользователи&quot;) нашего мобильного приложения для заказа еды SHOQ(далее &quot;Приложение&quot;). Мы ценим вашу конфиденциальность и стремимся обеспечить ее защиту. Пользуясь нашим Приложением, вы соглашаетесь с условиями нашей политики конфиденциальности.</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>Сбор и использование информации</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">Мы можем собирать различные типы информации о вас, включая, но не ограничиваясь: - Информация, которую вы предоставляете нам при регистрации в Приложении, такая как ваше имя, адрес электронной почты, номер телефона и другие контактные данные. - Информация, которую вы предоставляете нам в процессе использования Приложения, например, ваш адрес доставки, история заказов и предпочтения в пище. - Информация, собираемая автоматически при использовании Приложения, включая данные об устройстве, журналы действий и другие данные использования. Мы используем собранную информацию для предоставления услуг, обеспечения безопасности и качества Приложения, а также для персонализации и улучшения вашего опыта использования. Мы также можем использовать вашу информацию для обратной связи с вами, предоставления информации о наших услугах, проведения исследований и статистических анализов.</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>Раскрытие информации</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">Мы можем раскрывать вашу информацию третьим лицам только в следующих случаях: - С вашего согласия. - При необходимости для выполнения законодательных требований или решения суда. - В случае продажи или передачи нашей компании или ее активов. Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, описанных выше.</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>Безопасность информации</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">Мы предпринимаем разумные меры безопасности, чтобы защитить вашу личную информацию от несанкционированного доступа, использования или раскрытия. Однако ни один метод передачи данных через интернет или метод электронного хранения не является на 100% безопасным, и мы не можем гарантировать абсолютную безопасность ваших данных.</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>Изменения в политике конфиденциальности</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">Мы можем время от времени обновлять нашу политику конфиденциальности. Мы уведомим вас о любых изменениях, разместив новую версию политики конфиденциальности в Приложении. Рекомендуем периодически пересматривать эту политику конфиденциальности для ознакомления с изменениями.</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>Связь с нами</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">Если у вас есть вопросы или предложения относительно нашей политики конфиденциальности, свяжитесь с нами +7 (701) 445 66 66 , appshoq@gmail.com</p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>&nbsp;</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;"><strong>Эффективность политики</strong></p>
<p style="margin-top:0pt; margin-bottom:0pt;">Эта политика конфиденциальности вступает в силу с даты ее публикации и остается в силе, за исключением случаев, когда она заменяется более новой версией.</p>

</body>
</html>